<template>
  <v-flex class="pr-3 pb-3" xs12 md6 lg4>
    <v-card class="blue darken-3 white--text pa-3">
      <strong>{{ stock.name }} <small>(Price: {{ stock.price | currency }} | Quantity: {{ stock.quantity }})</small></strong>
    </v-card>
    <v-card>
      <v-container fill-height>
        <v-text-field lavel="Amount" type="number" :error="insufficientQuantity" v-model.number="quantity">
        </v-text-field>
          <v-btn elevation="2" color="blue"  class="blue darken-3 white--text"
            :disabled="insufficientQuantity || quantity <= 0 || !Number.isInteger(quantity)"
            @click="sellStock">Sell</v-btn>
      </v-container>
    </v-card>
  </v-flex>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    props: ['stock'],
    data() {
      return {
        quantity: 0
      }
    },
    computed: {
      insufficientQuantity(){
        return this.quantity > this.stock.quantity
      }
    },
    methods: {

      ...mapActions({ sellStockAction: 'sellStock' }),
      sellStock(){

        const order = {
          stockId: this.stock.id,
          stockPrice: this.stock.price,
          quantity: this.quantity
        };

        this.sellStockAction(order)
        // this.$store.dispatch('sellStock', order);

        this.quantity = 0
      }

    }

  }
</script>

<style scoped>

</style>