<template>
  <v-flex class="pr-3 pb-3" xs12 md6 lg4>
    <v-card class="green darken-3 white--text pa-3">
      <strong>{{ stock.name }} <small>(Price: {{ stock.price | currency }})</small></strong>
    </v-card>
    <v-card>
      <v-container fill-height>
        <v-text-field lavel="Amount" type="number" :error="insufficientFunds || !Number.isInteger(quantity)" v-model.number="quantity">
        </v-text-field>
          <v-btn elevation="2" color="green"  class="green darken-3 white--text"
            :disabled="insufficientFunds || quantity <= 0 || !Number.isInteger(quantity)"
            @click="buyStock">{{ insufficientFunds ? 'Insufficient' : 'Buy' }}</v-btn>
      </v-container>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    props: ['stock'],
    data() {
      return {
        quantity: 0
      }
    },
    computed: {
      funds(){
        return this.$store.getters.funds
      },
      insufficientFunds(){
        return this.quantity * this.stock.price > this.funds
      }
    },
    methods: {

      buyStock(){

        const order = {
          stockId: this.stock.id,
          stockPrice: this.stock.price,
          quantity: this.quantity
        };


        this.$store.dispatch('buyStocks', order);
        this.quantity = 0
      }

    }

  }
</script>

<style scoped>

</style>