<template>
  <div>
    <h1 class="display-1 font-weight-light mb-4">Trade and view your stock investments</h1>
    <v-sheet :elevation="6" class="pa-2 white--text blue darken-3">
      <v-icon class="white--text mr-2">info</v-icon>
      <span class="headline white--text font-weight-light">You can save and load the data.</span>
    </v-sheet>
    <v-sheet :elevation="6" class="pa-2 white--text success darken-1 mt-3">
      <v-icon class="white--text mr-2">info</v-icon>
      <span class="headline white--text font-weight-light">Click Finish day to start a new day.</span>
    </v-sheet>

    <v-divider class="my-4"></v-divider>
    <p class="display-1"><strong>Your balance:</strong> {{ funds | currency }}</p>
  </div>
</template>

<script>
  export default {
    computed: {
      funds(){
        return this.$store.getters.funds
      }
    }
  }
</script>

<style scoped>

</style>